.aboutmecontainer{
    background: #2F2F2F;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 0%;
    animation-name: cerclegetbig;
    animation-fill-mode: forwards;
    animation-duration: 1s;

    
}
@keyframes cerclegetbig{
   from{width: 0%; } 
   to{width: 100%; } 
}
.white{
    background: white;
    position: relative;
    height: 100%;
    width: 100%;
}